@charset "UTF-8";

.container {
    display: flex;
    justify-content: center;
}

.button {
    margin: 0 15px;
    padding: 0 15px;
    border-radius: 10px;
    line-height: 50px;
    cursor: pointer;
}

.red1 {
    color: #fff;
    background: #fd0f0fd9;
}

.blue1 {
    color: #fff;
    background: #170ffdd9;
}

.green1 {
    color: #000;
    background: #0ffd0fd9;
}

.red2 {
    color: #fff;
    background: #fd0f0fd9;
    box-shadow: 0 5px 1px rgba(63,5,5,0.851);
}

.blue2 {
    color: #fff;
    background: #170ffdd9;
    box-shadow: 0 5px 1px rgba(5,13,63,0.851);
}

.green2 {
    color: #000;
    background: #0ffd0fd9;
    box-shadow: 0 5px 1px rgba(5,63,5,0.851);
}

.red3 {
    color: #fff;
    background: #fd0f0fd9;
    box-shadow: 0 5px 1px rgba(63,5,5,0.851);
}

.red3:active {
    transform: translateY(5px);
    box-shadow: 0 0px 0px rgba(63,5,5,0.851);
}

.blue3 {
    color: #fff;
    background: #170ffdd9;
    box-shadow: 0 5px 1px rgba(5,13,63,0.851);
}

.blue3:active {
    transform: translateY(5px);
    box-shadow: 0 0px 0px rgba(5,13,63,0.851);
}

.green3 {
    color: #000;
    background: #0ffd0fd9;
    box-shadow: 0 5px 1px rgba(5,63,5,0.851);
}

.green3:active {
    transform: translateY(5px);
    box-shadow: 0 0px 0px rgba(5,63,5,0.851);
}

.dbline {
    color: #67c5ff;
    border: 4px double #67c5ff;
    transition: 0.5s;
}

.dbline:hover {
    background: #fffbef;
    transition: 0.5s;
}

.dot {
    color: #67c5ff;
    border: 4px dotted #75caff;
}

.dot:hover {
    border: 4px dashed;
}

.dash-line {
    color: #0079a5f8;
    background: #d0edfff8;
    border: 4px dashed #67c5ff;
    transition: 0.5s;
}

.dash-line:hover {
    color: #67c5ff;
    background: #ffffff;
    transition: 0.5s;
}