@charset "UTF-8";

header {
    background: #388bff;
    width: 100%;
}

.wrapper {
    display: flex;
    padding-top: 0px;
}

.shop {
    margin-top: 30px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #f2ff7b;
}

.main-menu {
    margin-left: auto;
    display: flex;
}

.main-menu ul {
    list-style-type: none;
    display: flex;
}

.main-menu li {
    display: flex;
    padding: 30px;
}

.main-menu a {

    text-decoration: none;
    color: #ffffff;
}